.Burger{
    width: 100%;
    height: 250px;
    overflow: scroll;
    margin: auto;
    text-align: center;

}

@media(min-width:1000px) and (min-height:700x){
    .Burger{
    height: 600px;
    width: 700px;
    }
}

@media(min-width:500px) and (min-height:401x){
    .Burger{
    height: 400px;
    width: 450px;
    }
}

@media(min-width:500px) and (min-height:400x){
    .Burger{
    height: 300px;
    width: 350px;
    }
}

